*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

html{
scroll-behavior:smooth;
}

body{

background:#FFFDFE;

color:var(--heading);

overflow-x:hidden;

}

a{
text-decoration:none;
color:inherit;
}

section{

padding:100px 8%;

}

.container{

max-width:1300px;

margin:auto;

}