@import "tailwindcss";

:root {
  --primary: #d86fa7;
  --secondary: #8e6ac8;
  --accent: #f8d8e8;
  --background: #fffaf8;
  --card: rgba(255,255,255,0.85);
}

body{
    margin:0;
    font-family: Inter, sans-serif;
    background: linear-gradient(
        135deg,
        #fffaf8,
        #fdeef4,
        #f8f1ff
    );
}